<%- include('public-header') %>
<link rel="stylesheet" href="/stylesheets/More.css">
<div class="container">
    <div class="row">
        <div class=" col-sm-5 col-md-4 col-lg-3">
            <div class="more-title">
                <a href="/">首页</a>>
                <a href="/More">新闻中心</a>>
                <a href="/classify?_id=<%= art[0].tag %>">分类</a>>
                <a href="#">
                    <strong><%= art[0].title %></strong>
                </a>
            </div>
        </div>
    </div>
    <!--//内容部分-->
    <div class='row'>
        <div class=" col-sm-12 col-md-11 col-lg-9  mainbor sbor">
            <p class="content-title"><%= art[0].title %></p>
            <p class="content-time">发布日期：2016-12-12 14:52:10</p>
             <div class="content">
                 <%- art[0].content %>
             </div>
        </div>
    </div>
</div>
<%- include('public-footer') %>